body {background-color: white;}

header {
    color: white;
    font-size: 32px;
}

th {
    background-color: lightgray;
}

.headPage {
    text-align: center;
    background-color: gray;
    padding: 50px 0 25px;
}

table {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th.rowNumber {
    width: 20px;
}

th.salaryRow, th.idRow {
    width: 100px;
    text-align: center;
}

td.rowCount {
    text-align: center;
}

th.deleteButtonRow {
    width: 60px;
}


.tableName, .inputFields {
    margin-left: 20%;
    margin-top: 50px;
}

.outputBoxes {
    text-align: center;
}

.monthlyCostOutput {
    margin: 25px 50px; 
    text-align: center;
    border: 3px solid black;
    width: 225px;
    height: 115px;
    position: relative;
    /*float: right; */
    background-color: green;
    display: inline-block;
}

.employeeTable {
    align-items: right;
}

.centerTextInTableColumns {
    text-align: center;
}

.tableTextMargins {
    text-indent: 5px;
}

input {
    border: 3px solid black;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.rightFloat {
    margin-right: 30%; 
}