body {background-color: papayawhip;}

table {
    margin: 0 auto;
    width: 80%
}

table, th, td {
    border: 1px solid red;
}

th.rowNumber {
    width: 20px;
}

th.salaryRow {
    width: 100px;
}

th.idRow {
    width:100px;
}


.tableName, .inputFields, header {
    margin-left: 10%;
}

.monthlyCostOutput {
    margin-top: 25px;
    margin-right: 191px;
    text-align: center;
    /* margin-left: 78%; */
    border: 3px solid black;
    width: 225px;
    position: relative;
    float: right;
}

.employeeTable {
    align-items: right;
}

.inTheRed {
    background-color: red;
}